module NAME 1.0.0;
########################################
require {
    attribute ATTRIBUTE
}
########################################
type NAME_t, ATTRIBUTE
########################################
