## <summary>policy for MODULE</summary>
######################################
## <summary>
##      Manage the TARGET directory in the user's homedir.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <rolecap/>
#
interface(`userdom_manage_MODULE',`
    gen_require(`
        type MODULE_t;
    ')
    hardhat_userdom_user_home_dir_filetrans($1, MODULE_t, dir, "TARGET")
    hardhat_manage_dirs_pattern($1, MODULE_t, MODULE_t)
    hardhat_manage_files_pattern($1, MODULE_t, MODULE_t)
    hardhat_manage_lnk_files_pattern($1, MODULE_t, MODULE_t)
')
