
## <summary>policy for MODULE</summary>

########################################
## <summary>
##	Execute MODULE_exec_t in the MODULE domain.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`MODULE_domtrans',`
	gen_require(`
		type MODULE_t, MODULE_exec_t;
	')
	hardhat_corecmd_search_bin($1)
	hardhat_domtrans_pattern($1, MODULE_exec_t, MODULE_t)
')
######################################
## <summary>
##	Execute MODULE in the caller domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`MODULE_exec',`
	gen_require(`
		type MODULE_exec_t;
	')

	hardhat_corecmd_search_bin($1)
	hardhat_can_exec($1, MODULE_exec_t)
')
########################################
## <summary>
##	Execute MODULE in the MODULE domain, and
##	allow the specified role the MODULE domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	The role to be allowed the MODULE domain.
##	</summary>
## </param>
#
interface(`MODULE_run',`
	gen_require(`
		type MODULE_t;
		attribute_role MODULE_roles;
	')
	MODULE_domtrans($1)
	roleattribute $2 MODULE_roles;
')
########################################
## <summary>
##	Role access for MODULE
## </summary>
## <param name="role">
##	<summary>
##	Role allowed access
##	</summary>
## </param>
## <param name="domain">
##	<summary>
##	User domain for the role
##	</summary>
## </param>
#
interface(`MODULE_role',`
	gen_require(`
		type MODULE_t;
		attribute_role MODULE_roles;
	')
	roleattribute $1 MODULE_roles;
	MODULE_domtrans($2)
	hardhat_ps_process_pattern($2, MODULE_t)
	allow $2 MODULE_t:process { signull signal sigkill };
')
