## <summary>policy for NAME</summary>
######################################
## <summary>
##      Manage the Downloads directory in the users homedir.
## </summary>
## <param name="domain">
##      <summary>
##      Domain allowed access.
##      </summary>
## </param>
## <rolecap/>
#
interface(`userdom_manage_NAME',`
        gen_require(`
                type NAME_t;
        ')

    userdom_user_home_dir_filetrans($1, NAME_t, dir, "NAME_DIR")
    manage_dirs_pattern($1, NAME_t, NAME_t)
    manage_files_pattern($1, NAME_t, NAME_t)
    manage_lnk_files_pattern($1, NAME_t, NAME_t)
')
