policy_module(NAME, 1.0.0)
########################################
gen_require(`
    attribute userdom_filetrans_type;
')
type NAME_t;
userdom_user_home_content(NAME_t)
ubac_constrained(NAME_t)
userdom_user_home_dir_filetrans(userdom_filetrans_type, NAME_t, file, "TARGET")
########################################
